<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="defaultFile" xsi:type="File"
            fileName="${var:sys_temp_dir}/assets_manager_logs/${date:format=yyyy-MM-dd}_log.log" encoding="utf-8"
            layout="${date}|${uppercase:${level}}|${callsite}|${replace:inner=${message}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}|${replace:inner=${exception:format=ToString}:searchFor=\\r\\n|\\s:replaceWith= :regex=true}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="defaultFile" />
  </rules>
</nlog>
